<link rel="stylesheet" href="__MANAGE__/css/cropper.min.css">
<link rel="stylesheet" href="__MANAGE__/css/ImgCropping.css">
<div class="homeRght">
	<div class="headimg">
		<div id="replaceImg" ><img id="finalImg" src="__ROOT__/{$info.filepath}" alt="" /></div>
	</div>
	<div class="welcome en-font">
		您好！<span>{$info.name}</span>
		<a data-url="{:url('common/logout')}" class="jump"><i style="color: red;" class="fa fa-sign-out" aria-hidden="true"></i></a>
	</div>
	<div class="time bline en-font">
		<b></b>
		<i class="fa fa-clock-o" aria-hidden="true"></i><span class="showtime"></span>
	</div>
	<div class="info bline en-font">
		真实姓名：<span class="c">{$info.nickname}</span>
	</div>
	<div class="info bline en-font">
		登录时间：<span class="c">{$info.login_time|toDate}</span>
	</div>
	<div class="info bline en-font">
		登录地址：<span class="c">{$info.login_ip}</span>
	</div>

	<div class="notice">
		<div class="con">
			<div class="layui-btn-group skin">
				<a href="" class="layui-btn new_tab" data-title="留言列表" data-icon="fa-pencil-square-o">留言<span class="layui-badge layui-bg-gray">0</span></a>
				<a class="layui-btn" onclick="layer.msg('敬请期待')">订单<span class="layui-badge layui-bg-gray">0</span></a>
				<a class="layui-btn" onclick="layer.msg('敬请期待')">消息<span class="layui-badge layui-bg-gray">0</span></a>
			</div>
		</div>
	</div>



</div>

<div class="homeLeft">
	<div class="cms_count">
		<ul class="grid">
			<li class="li-1">
				<div class="info">
					<a href="" class="new_tab" data-title="文章列表" data-icon="fa-file-text">
						<i class="icon"><img  src="__MANAGE__/images/article.png" alt=""/></i>
						<span class="number en-font">0</span>
						<span class="name">文章</span>
					</a>
				</div>

			</li>
			<li class="li-2">
				<div class="info">
					<a href="" class="new_tab" data-title="产品列表" data-icon="fa-camera">
						<i class="icon"><img  src="__MANAGE__/images/product.png" alt=""/></i>
						<span class="number en-font">0</span>
						<span class="name">产品</span>
					</a>
				</div>
			</li>
			<li class="li-3">
				<div class="info">
					<a href="" class="new_tab" data-title="图集列表" data-icon="fa-image">
						<i class="icon"><img  src="__MANAGE__/images/album.png" alt=""/></i>
						<span class="number en-font">0</span>
						<span class="name">图集</span>
					</a>
				</div>
			</li>
			<li class="li-4">
				<div class="info">
					<a href="" class="new_tab" data-title="会员列表" data-icon="fa-users">
						<i class="icon"><img  src="__MANAGE__/images/user.png" alt=""/></i>
						<span class="number en-font">2</span>
						<span class="name">会员</span>
					</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="cms_info clearfix">
		<div class="you">
			<div class="info">
				<div class="title en-font">使用者：
					<a href="{:URL('index/system')}" class="new_tab" data-title="基本设置" data-icon=" fa-gears"><i class="fa fa-pencil-square-o"></i></a>
				</div>
				<div class="con">
					<ul class="list">
						<li><i class="fa fa-thumbs-up"></i>名称：<span>wxappjz</span></li>
						<li><i class="fa fa-wifi"></i>网址：<span class="en-font"><a href="http://www.wxappjz.com/" target="_blank">http://www.wxappjz.com/</a></span></li>
						<li><i class="fa fa-phone"></i>电话：<span class="en-font">公司电话</span></li>
						<li><i class="fa fa-envelope"></i>邮箱：<span class="en-font">公司邮箱</span></li>
						<li><i class="fa fa-map-marker"></i> 地址：<span>公司地址</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="dev">
			<div class="info">
				<div class="title en-font">开发者：</div>
				<div class="con">
					<ul class="list">
						<li><i class="fa fa-thumbs-up"></i>名称：<span>开发企业名称</span></li>
						<li><i class="fa fa-wifi"></i>网址：<span class="en-font"><a href="开发企业网址" target="_blank">开发企业网址</a></span></li>
						<li><i class="fa fa-phone"></i>电话：<span class="en-font">开发企业电话</span></li>
						<li><i class="fa fa-envelope"></i>邮箱：<span class="en-font">开发企业邮箱</span></li>
						<li><i class="fa fa-map-marker"></i> 地址：<span>开发企业地址</span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="cms_about clearfix">
		<div class="server">
			<div class="info">
				<div class="con">
					<table class="layui-table">
						<tr>
							<th width="25%">存储配额限制</th>
							<th width="25%">配额已使用</th>
							<th width="25%">配额续费日期</th>
							<th>域名到期日期</th>
						</tr>
						<tr>
							<td><?php echo round((disk_free_space(".")/(1024*1024*1024)),2);?> GB</td>
							<td class="skin">
								<a href="" class="javascript link" rel="get_site_size">『计算』 <span id="showSiteSize" class="layui-badge layui-bg-orange">0KB</span></a>
							</td>
							<td>不关心</td>
							<td>不关心</td>
						</tr>
						<tr>
							<th>操作系统</th>
							<th>服务器环境</th>
							<th>服务器IP</th>
							<th>上传最大限制</th>
						</tr>
						<tr>
							<td><?PHP echo PHP_OS; ?> </td>
							<td><?PHP echo $_SERVER ['SERVER_SOFTWARE']; ?></td>
							<td><?PHP echo $_SERVER['SERVER_NAME'].' [ '.gethostbyname($_SERVER['SERVER_NAME']).' ]';?></td>
							<td><?PHP echo get_cfg_var ("upload_max_filesize")?get_cfg_var ("upload_max_filesize"):"不允许上传附件"; ?> </td>
						</tr>
						<tr>
							<th>PHP版本</th>
							<th>MYSQL版本</th>
							<th>脚本超时时间</th>
							<th>CURL支持</th>
						</tr>
						<tr>
							<td><?PHP echo PHP_VERSION; ?></td>
							<td>{:_mysql_version()}</td>
							<td><?PHP echo get_cfg_var("max_execution_time")."秒 "; ?></td>
							<td>YES</td>
						</tr>
						<tr>
							<th>系统官网</th>
							<th>建站手册</th>
							<th>浏览器信息</th>
							<th>系统版本</th>
						</tr>
						<tr>
							<td class="skin">
								<a href="http://www.wxappjz.com/" class="link" target="_blank">『访问』</a>
							</td>
							<td class="skin">
								<a href="http://www.wxappjz.com/" class="link" target="_blank">『查看』</a>
							</td>
							<td class="skin">
								<?php echo substr($_SERVER['HTTP_USER_AGENT'], 0, 40);?>
							</td>
							<td>wxappjz V1.0</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<!--图片裁剪框 start-->
<div style="display: none" class="tailoring-container">
    <div class="black-cloth" onClick="closeTailor(this)"></div>
    <div class="tailoring-content">
            <div class="tailoring-content-one">
                <label title="上传图片" for="chooseImg" class="l-btn choose-btn">
                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="file" id="chooseImg" class="hidden" onChange="selectImg(this)">
                    选择图片
                </label>
                <div class="close-tailoring"  onclick="closeTailor(this)">×</div>
            </div>
            <div class="tailoring-content-two">
                <div class="tailoring-box-parcel">
                    <img id="tailoringImg">
                </div>
                <div class="preview-box-parcel">
                    <p>图片预览：</p>
                    <div class="square previewImg"></div>
                    <div class="circular previewImg"></div>
                </div>
            </div>
            <div class="tailoring-content-three">
                <button class="l-btn cropper-reset-btn">复位</button>
                <button class="l-btn cropper-rotate-btn">旋转</button>
                <button class="l-btn cropper-scaleX-btn">换向</button>
                <button class="l-btn sureCut" id="sureCut">确定</button>
            </div>
        </div>
</div>
<!--图片裁剪框 end-->



<script type="text/javascript" src="__MANAGE__/js/cropper.min.js"></script>
<script type="text/javascript">

    //弹出框水平垂直居中
    (window.onresize = function () {
        var win_height = $(window).height();
        var win_width = $(window).width();
        if (win_width <= 768){
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight())/2,
                "left": 0
            });
        }else{
            $(".tailoring-content").css({
                "top": (win_height - $(".tailoring-content").outerHeight())/2,
                "left": (win_width - $(".tailoring-content").outerWidth())/2
            });
        }
    })();

    //弹出图片裁剪框
    $("#replaceImg").on("click",function () {
        $(".tailoring-container").toggle();
    });
    //图像上传
    function selectImg(file) {
        if (!file.files || !file.files[0]){
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var replaceSrc = evt.target.result;
            //更换cropper的图片
            $('#tailoringImg').cropper('replace', replaceSrc,false);//默认false，适应高度，不失真
        }
        reader.readAsDataURL(file.files[0]);
    }
    //cropper图片裁剪
    $('#tailoringImg').cropper({
        aspectRatio: 1/1,//默认比例
        preview: '.previewImg',//预览视图
        guides: false,  //裁剪框的虚线(九宫格)
        autoCropArea: 0.5,  //0-1之间的数值，定义自动剪裁区域的大小，默认0.8
        movable: false, //是否允许移动图片
        dragCrop: true,  //是否允许移除当前的剪裁框，并通过拖动来新建一个剪裁框区域
        movable: true,  //是否允许移动剪裁框
        resizable: true,  //是否允许改变裁剪框的大小
        zoomable: false,  //是否允许缩放图片大小
        mouseWheelZoom: false,  //是否允许通过鼠标滚轮来缩放图片
        touchDragZoom: true,  //是否允许通过触摸移动来缩放图片
        rotatable: true,  //是否允许旋转图片
        crop: function(e) {
            // 输出结果数据裁剪图像。
        }
    });
    //旋转
    $(".cropper-rotate-btn").on("click",function () {
        $('#tailoringImg').cropper("rotate", 45);
    });
    //复位
    $(".cropper-reset-btn").on("click",function () {
        $('#tailoringImg').cropper("reset");
    });
    //换向
    var flagX = true;
    $(".cropper-scaleX-btn").on("click",function () {
        if(flagX){
            $('#tailoringImg').cropper("scaleX", -1);
            flagX = false;
        }else{
            $('#tailoringImg').cropper("scaleX", 1);
            flagX = true;
        }
        flagX != flagX;
    });

    //裁剪后的处理
    $("#sureCut").on("click",function () {
        if ($("#tailoringImg").attr("src") == null ){
            return false;
        }else{
            var cas = $('#tailoringImg').cropper('getCroppedCanvas');//获取被裁剪后的canvas
            var base64url = cas.toDataURL('image/png'); //转换为base64地址形式
            $("#finalImg").prop("src",base64url);//显示为图片的形式
            var uid="{$cookie.id}";
            
			$.ajax({
				url: "{:URL('manage/avatar')}",
				type: 'post',
				data: {
					id:uid,
					dataurl: base64url
				},
				success: function(res) {
					layer.msg(res.msg, {
						icon: res.result
					});
				
				},
				error: function(e) {
					alert('网络错误！');
				}

			});
            //关闭裁剪框
            closeTailor();
        }
    });
    //关闭裁剪框
    function closeTailor() {
        $(".tailoring-container").toggle();
    }
</script>