<div class="admin-main fadeInUp animated">
	<div class="layui-field-box">
		<div>
			<blockquote class="layui-elem-quote">

				<a data-url="{:URL('index/lists')}" data-title="配置列表" class="layui-btn additem">显示列表</a>
				<button data-url="{:URL('Index/systemadd')}" data-title="增加" class="additem layui-btn " style="float: right;">增加</button>
			</blockquote>

			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<ul class="layui-tab-title">
					{volist name="Think.config.CONFIG_GROUP_LIST" id="group"}
					<li {if condition="$group.id eq '1'" }class="layui-this" {else /}{/if}>{$group.name}</li>
					{/volist}
				</ul>
				<div class="layui-tab-content">
					<div id="layitem" class="layui-tab-item layui-show">
						<form class="layui-form layui-form-pane" id="layui-input-fix">
							{volist name="list" id="config"}
							<div class="layui-form-item">
								<label class="layui-form-label">{$config.title}</label>
								<div class="layui-input-inline">
									{switch name="config.type"} {case value="0"}
									<input type="text" name="config[{$config.name}]" autocomplete="off" placeholder="{$config.remark}" class="layui-input" value="{$config.value}"> {/case} {case value="1"}
									<input type="text" name="config[{$config.name}]" autocomplete="off" placeholder="{$config.remark}" class="layui-input" value="{$config.value}"> {/case} {case value="2"}
									<textarea class="layui-textarea" name="config[{$config.name}]">{$config.value}</textarea> {/case} {case value="3"}
									<textarea class="layui-textarea" name="config[{$config.name}]">{$config.value}</textarea> {/case} {case value="4"}
									<select name="config[{$config.name}]">
										{volist name="config['attr']" id="vo"}
										<option value="{$key}" {if condition="$config.value eq $key" }selected{else /}{/if}>{$vo}</option>
										{/volist}
									</select>
									{/case} {case value="5"}
									<div class="layui-upload">
										<button type="button" class="layui-btn f-l" id="test1">{$config.title}</button>
										<div class="layui-upload-list f-l">
											<img class="layui-upload-img" id="demo1" style="height: 40px;margin-top:-10px; margin-left: 10px;" {notempty name="$config.value" }src="__ROOT__/{$config.value}" {/notempty}>
											<p id="demoText"></p>
											<input type="hidden" name="config[{$config.name}]" id="img" value="{$config.value}" />
										</div>
									</div>
									{/case} {/switch}

								</div>
								<label id="{$config.remark}" class="tagtip" name="{$config.remark}" style="line-height: 40px;padding: 0 10px;"><i class="layui-icon f-20 text-warning">&#xe60b;</i></label>{$config.name}
							</div>

							{/volist}

							<div class="layui-form-item text-center">
								<div class="layui-input-block">
									<a class="layui-btn" lay-submit="" lay-filter="senddata" ajaxurl="{:URL('index/save')}">立即提交</a><button type="reset" class="layui-btn layui-btn-primary">重置</button></div>
							</div>
							<p id="tip"></p>
						</form>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>