<div class="admin-main fadeInUp animated">
	<div class="layui-field-box">
		<div>
			<blockquote class="layui-elem-quote">
			<div class="layui-btn-group">
				<button id="export" data-url="{:URL('databackup/export')}" data-title="立即备份" class="layui-btn">立即备份</button>
				<button data-url="{:URL('databackup/optimize')}" data-title="优化数据表" class="layui-btn databack">优化数据表</button>
				<button data-url="{:URL('databackup/repair')}" data-title="修复数据表" class="layui-btn databack">修复数据表</button>				
			</div>
			<a href="{:URL('databackup/importlist')}" data-title="还原数据库" class="layui-btn layui-btn-danger fr">还原数据库</a>
			</blockquote>
			<form id="export-form" method="post" action="{:url('databackup/export')}">
				<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">

					<colgroup>
						<col width="50">
						<col width="150">
						<col width="150">
						<col width="150">
						<col width="200">
						<col width="200">
						<col width="100">
					</colgroup>
					<thead>
						<tr>
							<th width="48"><input lay-skin="primary" checked="chedked" type="checkbox" value=""></th>
							<th>表名</th>
							<th>数据量</th>
							<th>数据大小</th>
							<th>创建时间</th>
							<th>备份状态</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody>
						{volist name='list' id='table'}
						<tr>
							<td>
								<input class="ids" checked="chedked" type="checkbox" name="tables[]" value="{$table.name}">
							</td>
							<td>{$table.name}</td>
							<td>{$table.rows}</td>
							<td>{$table.data_length|format_bytes}</td>
							<td>{$table.create_time}</td>
							<td class="info">备份未开始</td>
							<td>
								<a href="javascript:;" class="layui-btn layui-btn-xs optimiz" tables="{$table.name}">优化表</a>&nbsp;
								<a href="javascript:;" class="layui-btn layui-btn-xs repair" tables="{$table.name}">修复表</a>
							</td>
						</tr>
						{/volist}
					</tbody>

				</table>
			</form>
		</div>
	</div>
</div>
