<div class="admin-main fadeInUp animated">
	<div class="layui-field-box">
		<div>
			<form class="layui-form layui-form-pane">

				<div class="layui-form-item">
					<label class="layui-form-label">表名</label>
					<div class="layui-input-block">
						<input type="text" name="tablename" autocomplete="off" placeholder="请输入表名" class="layui-input" value="{$tabname}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">字段类型</label>
					<div class="layui-input-block">
						<select lay-filter="typeselect" name="type" lay-verify="required">
							{volist name="type" id="v"}
							<option value="{$v.name}" {eq name="$info.type|default=''" value="$v.name" }selected{/eq}>{$v.title}</option>
							{/volist}
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">别名</label>
					<div class="layui-input-block">
						<input type="text" name="name" autocomplete="off" placeholder="请输入字段名" class="layui-input" value="{$info.name|default=''}" lay-verify="required">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">字段名</label>
					<div class="layui-input-block">
						<input type="text" name="field" autocomplete="off" placeholder="请输入字段名" class="layui-input" value="{$info.field|default=''}" lay-verify="required">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">长度</label>
					<div class="layui-input-block">
						<input type="text" name="fieldlength" autocomplete="off" placeholder="请输入表名" class="layui-input" value="{$info.fieldlength|default=''}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">字段设置</label>
					<div id="setup" style="float: left;width:30%">
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">选项列表: <span class="layui-carousel-right">例:<font color="#FF0000"> 选项名称|值</font></span></label>
							<div class="layui-input-block">
								<textarea placeholder="请输入内容" name="options" class="layui-textarea">{$info.options|default=''}</textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">字段类型</label>
							<div class="layui-input-block">
								<select name="fieldtype">
									{volist name="fieldtype" id="v"}
									<option value="{$v.name}" {eq name="$info.fieldtype|default=''" value="$v.name" }selected{/eq}>{$v.title}</option>
									{/volist}
								</select>

							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">默认值</label>
							<div class="layui-input-block">
								<input type="text" name="default" autocomplete="off" placeholder="请输入表名" class="layui-input" value="{$info.default|default=''}">
							</div>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">class名称</label>
					<div class="layui-input-block">
						<input type="text" name="class" value="{$info.class|default=''}" placeholder="class名称" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">必填</label>
					<div class="layui-input-block">
						<input type="radio" name="required" value="1" {eq name="$info.required|default=''" value="1" }checked{/eq} title="是">
						<input type="radio" name="required" value="0" {eq name="$info.required|default=''" value="0" }checked{/eq} title="否">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">验证规则</label>
					<div class="layui-input-block">
						<select name="pattern" lay-verify="required">
							{volist name="pattern" id="v"}
							<option value="{$v.name}" {eq name="$info.pattern|default=''" value="$v.name" }selected{/eq}>{$v.title}</option>
							{/volist}
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">字符长度</label>
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" name="minlength" value="{$info.minlength|default=''}" class="layui-input">
					</div>
					<div class="layui-form-mid">-</div>
					<div class="layui-input-inline" style="width: 100px;">
						<input type="text" name="maxlength" value="{$info.maxlength|default=''}" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">错误信息</label>
					<div class="layui-input-block">
						<input type="text" name="errormsg" value="{$info.errormsg|default=''}" placeholder="验证失败错误信息" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">提示信息</label>
					<div class="layui-input-block">
						<input type="text" name="tips" value="{$info.tips|default=''}" placeholder="验证失败错误信息" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
						<a href="{:URL('module/field',array('id'=>$moduleid))}" class="layui-btn layui-btn-primary">返回</a>

					</div>
				</div>
				<input type="hidden" name="moduleid" class="layui-input" value="{$moduleid|default=''}"> {notempty name="$info"}
				<input type="hidden" name="id" class="layui-input" value="{$info.id|default=''}"> {/notempty}
			</form>
			<p id="tip"></p>
		</div>
	</div>
</div>


<script>
	layui.use(['form', 'layedit', 'laydate'], function() {
		var form = layui.form,
			layer = layui.layer,
			layedit = layui.layedit,
			laydate = layui.laydate;

		//监听提交
		form.on('submit(demo1)', function(data) {
			//	layer.alert(JSON.stringify(data.field), {    
			//		title: '最终的提交信息'
			// 	});
			//	 return false;
			$.ajax({
				type: "post",
				url: "{:URL('module/addfield')}",
				data: data.field,
				success: function(result) {
					//document.getElementById('tip').innerHTML=result;
					layer.msg(result.msg, {
						icon: result.result
					});
				},
				error: function(result) {
					layer.msg('网络异常！', {
						icon: 2
					});
				}
			});

			return false;
		});
	});
</script>

</html>