<div class="admin-main fadeInUp animated">
	<div class="layui-field-box">
		<div>
			<form class="layui-form layui-form-pane" id="admin">

				<div class="layui-form-item">
					<label class="layui-form-label">原密码</label>
					<div class="layui-input-inline">
						<input name="password_old"  placeholder="请输入原密码" autocomplete="off" class="layui-input" type="password">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">新密码</label>
					<div class="layui-input-inline">
						<input name="password" placeholder="请输入新密码" autocomplete="off" class="layui-input" type="password">
					</div>
					<div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">重复新密码</label>
					<div class="layui-input-inline">
						<input name="password_confirm" placeholder="请再次输入新密码" autocomplete="off" class="layui-input" type="password">
					</div>
				</div>

				<input type="hidden" name="id" value="{$cookie.id}">
				<div class="layui-form-item">
					<div class="layui-input-block">
						<a class="layui-btn" lay-submit lay-filter="senddata" ajaxurl="{:URL('manage/editPassword')}">立即提交</a>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>