<link rel="stylesheet" type="text/css" href="__MANAGE__/color/spectrum.css">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-sm-12">
			<div id="tip"></div>
			<form class="layui-form layui-form-pane">
				
				{volist name="html" id="v"}
					{$v._html}
				{/volist}
				{notempty name="$info"}
				<input type="hidden" name="id" id="id" value="{$info.id}" />
				{/notempty}
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="button" class="layui-btn" ajaxurl="{:URL('add')}" lay-submit lay-filter="senddata">{:lang('submit')}</button>
						<a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
    <script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.all.min.js"> </script>

<script type="text/javascript" src="__MANAGE__/color/spectrum.js"></script>
<script type='text/javascript' src='__MANAGE__/color/docs.js'></script>
<script type="text/javascript">
	window.UEDITOR_HOME_URL = '/Ueditor/';
	window.onload = function() {
		UE.getEditor('container', {
			initialFrameHeight: 200
		});
	}
	

	
	
layui.use(['laydate','form'], function(){
  var laydate = layui.laydate,
  	  form = layui.form;
   

 
  //执行一个laydate实例
  laydate.render({
    elem: '#createtime', //指定元素
    type:'datetime',
    format:'yyyy-MM-dd HH:mm:ss'

  });
   form.on('switch(open)', function(data){
	var name=this.name;
	if(this.checked==false){
			var obj=document.createElement('input');
			obj.setAttribute('type','hidden');
			obj.setAttribute('id',name)
			obj.setAttribute('name',name)
			obj.setAttribute('value','0')			
		this.parentElement.append(obj);
	}else{
		var el = document.getElementById(name);  
		el.parentNode.removeChild(el);		
	}	
  });

   form.on('checkbox(checkbox)', function(data){
	var name=this.name;
	if(this.checked==false){
			var obj=document.createElement('input');
			obj.setAttribute('type','hidden');
			obj.setAttribute('id',name)
			obj.setAttribute('name',name)
			obj.setAttribute('value','font-weight:normal;')			
		this.parentElement.append(obj);
	}else{
		var el = document.getElementById(name);  
		el.parentNode.removeChild(el);		
	}	
  });
  
  
  
});
</script>