<div class="admin-main fadeInUp animated">
	<div class="layui-field-box">
		<div>
			<blockquote class="layui-elem-quote">
				<a class="layui-btn" lay-submit lay-filter="senddata" ajaxurl="{:URL('menu/orders')}">更新排序</a>
				<button data-url="{:URL('menu/publish')}" data-title="添加新菜单" class="layui-btn additem f-r" >添加新菜单</button>
			</blockquote>

			<form class="layui-form" id="admin">
				<table class="layui-table" lay-even="" lay-skin="row" lay-size="sm">
					<colgroup>
						<col width="50">
						<col width="50">
						<col width="250">
						<col width="100">
						<col width="100">
						<col width="100">
						<col width="300">
						<col width="100">
						<col width="100">
						<col width="150">
						<col width="150">
					</colgroup>
					<thead>
						<tr>
							<th>排序</th>
							<th>编号</th>
							<th>名称</th>
							<th>模块</th>
							<th>控制器</th>
							<th>方法</th>
							<th>备注</th>
							<th>类型</th>
							<th>状态</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>

						{volist name="menus" id="vo"}
						<tr>
							<td><input type="text" name="orders[]" value="{$vo.orders}" style="width: 20px;" class="orders"><input type="hidden" name="id[]" value="{$vo.id}"></td>
							<td>{$vo.id}</td>
							<td><span style="font-weight:500;">{$vo.str}</span>{$vo.name}</td>
							<td>{$vo.module}</td>
							<td>{$vo.controller}</td>
							<td>{$vo.function}</td>
							<td>{$vo.description}</td>
							<td>{eq name="$vo.type" value="1"}权限节点{else /}普通节点{/eq}</td>
							<td>{eq name="$vo.is_display" value="1"}显示在左侧菜单{else /}只做为操作节点{/eq}</td>
							<td>{$vo.create_time}</td>
							<td class="operation-menu">
								<a data-url="{:url('menu/publish',['id'=>$vo.id])}" data-title="修改" class="additem layui-btn layui-btn-xs a_menu" style="margin-right: 0;font-size:12px;">修改</a>
								<a data-url="{:url('menu/publish',['pid'=>$vo.id])}" data-title="新增" class="additem layui-btn layui-btn-xs a_menu" style="margin-right: 0;font-size:12px;">新增</a>
								<a data-url="{:url('menu/delete')}" class="layui-btn layui-btn-xs layui-btn-danger deleteitem" id="{$vo.id}" style="margin-right: 0;font-size:12px;">删除</a>
							</td>
						</tr>
						{/volist}

					</tbody>
				</table>
			</form>
			

		</div>
	</div>
</div>
