</body>

<script type="text/javascript">
	layui.config({
		base: '__MANAGE__/js/' //假设这是你存放拓展模块的根目录
	}).extend({ //设定模块别名
		tab: 'tab' //如果 mymod.js 是在根目录，也可以不用设定别名

	});

	var upfileurl = "{:URL('upload/index')}",
		taburl = "{:URL('index/systempage')}";
</script>
<script type="text/javascript" src="__MANAGE__/js/layuiaction.js"></script>
<script type="text/javascript" src="__MANAGE__/js/content.min.js"></script>
<script type="text/javascript" src="__MANAGE__/js/global.js"></script>
<script type="text/javascript" src="__MANAGE__/js/jquery.nicescroll.js"></script>
<script type="text/javascript">
	$('html').niceScroll({
		cursorcolor: "#ccc", //#CC0071 光标颜色
		cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
		touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
		cursorwidth: "5px", //像素光标的宽度
		cursorborder: "0", // 	游标边框css定义
		cursorborderradius: "5px", //以像素为光标边界半径
		autohidemode: false //是否隐藏滚动条
	});

</script>

</html>