<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{$adminsite.WEB_SITE_TITLE}</title>
		<link rel="stylesheet" href="__LAYUI__/css/layui.css" media="all">
		<link rel="stylesheet" href="__MANAGE__/css/style.min.css" media="all">
		<link rel="stylesheet" type="text/css" href="__MANAGE__/css/global.css"/>
		<link rel="stylesheet" type="text/css" href="__MANAGE__/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__MANAGE__/css/animate.min.css"/>
		<link rel="stylesheet" type="text/css" href="__FONT__/css/font-awesome.min.css" />
		<script src="__MANAGE__/js/jquery.min.js"></script>
		<script src="__LAYUI__/layui.js"></script>
		<script type="text/javascript">
			var winWidth = $(window).width();
			var heiHeght = $(window).height();
		</script>
	</head>
	<body>
		
